body{
    background-color: hsl(204, 43%, 93%);
}


.container{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    box-align: center;
    margin: 10% auto ;
    width: 750px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/**/


@media screen and (min-width: 576px) {

#top{    
    padding: 40px;
    padding-top: 20px;
    background-color: hsl(200, 33%, 98%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#left{
    font-size: 16px;
    padding: 40px;
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 10px;
}
#right{
    padding: 40px;
    background-color: hsl(179, 49%, 53%);
    border-bottom-right-radius: 10px;
}
#left button{
    background-color: hsl(71, 73%, 54%);
    border: none;
    height: 4rem;
    width: 100%;
    margin-top: 30px;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: aliceblue;
    transition: 0.3s;
    align-items: center;
}
#left button:hover{
    background-color: aliceblue;
    transition: 0.3s;
    color: hsl(71, 73%, 54%);
   
}
#top h1{
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px; 
}
#price{
    color: aliceblue;
    font-size: 2rem;
    font-weight: 600;
  }
#price-spec{
    opacity: 70%;
    margin-left: 0.5rem;
    color: aliceblue;
}
}
#left p{
    display: block;
    font-weight: 400;
    clear: both;
    color: aliceblue;
    font-size: 18px;
}
h3{
    color: hsla(71, 73%, 54%);
    font-weight: 700;
    font-size: 22px;
}
h4{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-size: 25px;
}
#top p{
    color: hsl(0, 0%, 53%);
}
#right p{
    color: hsl(204, 43%, 93%);
    display: block;
    font-weight: 400;
    font-size: 16px;
}


@media  screen and (max-width: 575px) {
    .container{
        font-family: 'Karla', sans-serif;
        font-size: 11px;
        box-align: center;
        margin: 10% auto ;
        width: 80%;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    
    #top{    
        padding: 20px;
        padding-top: 20px;
        background-color: hsl(200, 33%, 98%);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 200px;
       
        
    }
    #left{
        padding: 20px;
        background-color: hsl(179, 62%, 43%);
        height: 180px;
    
        
    }
    
    #right{
        padding: 20px;
        background-color: hsl(179, 49%, 53%);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 150px;
    }
    
    
    #left button{
        background-color: hsl(71, 73%, 54%);
        border: none;
        height: 2.3rem;
        width: 100%;
        border-radius: 7px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: aliceblue;
        transition: 0.3s;
        align-items: center;
    }
    #left button:hover{
        background-color: aliceblue;
        transition: 0.3s;
        color: hsl(71, 73%, 54%);
       
    }
    
    #top h1{
        color: hsl(179, 62%, 43%);
        font-weight: 700;
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 20px; 
    }
    
  
    #price{
        font-size: 2rem;
        font-weight: 600;
        color: aliceblue;
      }
    #price-spec{
        opacity: 70%;
        margin-left: 0.5rem;
        color: aliceblue;}
    
    h3{
            color: hsla(71, 73%, 54%);
            font-weight: 700;
            font-size: 13px;
        }
    h4{
            color: rgb(255, 255, 255);
            margin-bottom: 5px;
            font-size: 15px;
        }
    #top p{
        color: hsl(201, 8%, 65%);
    }
    #right p{
        color: hsl(204, 43%, 93%);
        display: block;
        float: left;
        font-weight: 400;
        font-size: 10px;
    }
    #left p{
        font-size: 12px;
    }
}

footer{
    clear: both;
    text-align: center;
    
}